@charset "UTF-8";

* {
	transition: all 1s;
}
ol, ul {
	list-style: none;
}
header {
	background: #ffffff;
	height: 68px;
	width: 960px;	
	top:0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 1px lightgray;
}
header nav{
	float:right;
	margin-top: 20px;
	margin-right: 20px;
}
header .highlight, header .current a{
	color: #4aaaa5;
	font-weight: bold;
}
header a:hover{
	color:#cccccc;
}
header a{
	color:#777777;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;	
}
header li{
	float:left;
	display:inline;
	padding: 0 10px 0 10px;
	margin-top: -10px;
	border-right-style: solid;
    border-right-width: .1px;
    color: #777777;
}
li:last-child {
    border-right: none;
}
#name {
	background-color: #4aaaa5;
	float: left;
	color: #ffffff;
	font-size: 12px;
}
span.visionz {
	padding-left: 20px;
	padding-right: 20px;
	height: 70px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
span.about {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
hr {
	margin-bottom: 20px;
}
img.wrap {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 20px;
	margin-bottom: 10px;
}
body {
    color: #777777;
	line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
	background-image:url(../images/ricepaper2/ricepaper2.png);
	width: auto;
	background-position: center;
	background-size: contain;
	padding:0;
    margin:0;
 	box-shadow: 0 100vh 0 100vh #ffffff;
}
#box {
	background-color: #ffffff;
/*	width: 1010px;*/
/*
	 margin-left: auto; 
	 margin-right: auto; 
*/
}
#about_me_section {
	background-color: #ffffff;
/*	width:;*/
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 25px; 
	padding-right: 25px; 
	padding-top: 5px; 
	padding-bottom: 20px; 
	box-shadow: 1px 1px 1px lightgray;
	background-size:cover;
}
h {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
	color: #4aaaa5;
}
container {
	border-color: #dddddd;
	display: flex; 
	flex-wrap: wrap; 
}
footer {
    background-color: #666666;
	height: 2%;
	width: 100%;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
	text-align: center;
	margin-top: 40px;
	color: #ffffff;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}
span.footer_text {
	margin-top: 20px;
	font-size: 12px;
}

/* Media Queries */

@media(max-width: 768px){
    * {
	/* [disabled]box-sizing: border-box; */
		transition: all 1s;
	}

	header {
		height: 90px;
		width: 100%; 
	/*	display: flex; */
	}
	#name {
		background-color: #4aaaa5;
		float: left;
		color: #ffffff;
		font-size: 12px;
		height: 90px;
		clear: both;
	}
	header li{
		display: inline; 
		margin-top: 0;
		width: 95%;
		border-right-style: none;
		line-height: 1.4em;
		text-align: right;
	}

	header nav {
		margin-top: 0px;
		float:none;
	}
	nav {
		overflow: hidden; 	
	}
	header a{
		font-size: 1em;	
	}
	#box {
		max-width: 768px;
	}	
	container, nav {   
        flex-direction: column;
		overflow: hidden;
    }
	#about_me_section {
		width: 99%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 2px;
		padding-bottom: 5px;
		min-height:inherit;
	}
	footer {
		bottom:-0px;
	}
	p {
		font-size: .9em;
	}
	hr {
		margin-bottom: 5px;
	}
	img.wrap {
		width: 150px;
		margin-right: 10px;
		margin-bottom: 5px;
	}
}

/* For mobile phones: */

@media(max-width: 320px){
and (min-device-width: 375px) 
and (max-device-width: 812px) 
	* {
		margins: 0;
		padding: 0;
		display: block;
		width: 100%;
	}
	header .highlight, header .current a{
		width: 100%;	
	}
	#name {
		display: block;
		width: 100%;
	}
	.about {
		align-content: center;
		width: 100%;
	}
	h2 {
		text-align: center;
		background-color: #4aaaa5;
		height: 60px;
	}
	header {
		height: 40%;
		width: 100%;	
		margin-bottom: 0px;
		display: block;
		width: 100%;
		box-shadow: none;
	}
	header nav{
		float:none;
		margin-top: 0;
		margin-right: 0;
		width: 100%;
	}
	body {
		background-image: none;
		height: 400px;
		display: block;
		width: 100%;
	}
	header li{
		float:none;
		display:block;
		margin-top: 2px;
		text-align: center;
		width: 100%;
		padding: 0 0px 0 0px;
	}		
/*
	[class*="col-"] {
		width: 100%;
		display: block;
	}		
*/
	#about_me_section {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 2px;
		padding-bottom: 5px;
		display: block;
		width: 320px;
	}	
	container {
		display: block;
		width: 100%;
	}	
	#box {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		display: block;
	}
	img.wrap {
		float: none;
		width: 100%;
		height: auto;
		margin-bottom: 0px;
	}
	h1 {
		text-align: center;
		font-size: 2.5em;
	}
	span.about {
		color: white;
		padding: 15px 20px 15px 20px;	
	}
	hr {
		display: none;
	}
	p {
		padding: 5%;
		overflow:scroll;
		padding-top: 0;
	}
	footer {
		height: 80px;
		border-top: 10px;
		border-top-style: solid;
		border-top-color: #4aaaa5;
		margin-top: 80px;
	}
	header nav{
		float:right;
		margin-top: 0px;
		margin-right: 20px;
	}
	header li{
		padding: 0 0px 0 0px;
		border-right-style:none;
	}

	